<div style="background-color: rgb(216, 234, 240); display: flex; align-items: flex-start; flex-direction: column;">
    <div>
        Log in Here:
        <form action="/secure_login" method="POST">
            <input placeholder="Username" type="text" name="username" />
            <input placeholder="Password" type="password" name="password" />
            <!-- <input type="file" name="Your Resume" /> -->
            <input type="submit" value="Button" />
        </form>
    </div>
    <div>
        Search for Users:
        <form action="/users_search">
            <!-- NAME is what decides the query parameter -->
            <input placeholder="User" type="text" name="userSearch" />  
            <input type="submit" value="Search" />
        </form>
        
    </div>
</div>
<div style="display: flex; align-items: flex-end;">
    Don't have an account? <a href="/createaccount">  Create one</a>.
</div>
