<style>
    h1 {
        font-family: sans-serif;
    }

    #bank-buttons {
        display: flex;

        background-color: lightblue;
        height: 100px;
    }

    div button.bank-button {
        height: 30px;
        width: 40px;
    }
</style>
<div>

    <h1 id="h1">
    </h1>

    <!-- In this log out button, ive added name="logOut" as a tag to be grabbed in index, which denotes logout, and w
will eventually clear the session from cookies.-->
    <form action="/index.html">
        <input type="submit" name="logOut" value="Log Out" />
    </form>
    <form action="/myaccount.html">
        <input type="range" id="pubgstoke" name="pubgstoke" min="0" max="11" step="1">
        <label for="pubgstoke">PUBG Stoke Meter</label>
        <input type="submit" value="SEND IT!" />
    </form>

    <!-- make a bank account button widget to allow people to add and remove money from their banks, which then s
saves to the session object for use when they log in later.  -->
    <div id="bank-buttons">
        <button class="bank-button" id="add5">$5</button>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
    const pubgSlider = document.getElementById("pubgstoke");
    console.dir(pubgSlider);


    pubgSlider.addEventListener("change", (ev) => {
        console.log("Their PUBG stoke is " + ev.target.value);
        console.dir(ev);
    })

    axios.get('/user_details')
        .then(function (response) {
            console.dir(response.data);
            pubgSlider.value = response.data.pubgstoke;
            const h1 = document.getElementById("h1");
            h1.innerText = response.data.username + ", you're logged in!";

        })
        .catch(function (error) {
            console.log(error);
        });

</script>