
    <div class="division">
        <button id="mybutton" class="Jordan" style="background-color: red;">Press *Now*</button>
        <input type="text" id="mytextfield" />
    </div>
    <div class="division">
        <div id="game">
            <div class="game-banner"> TicTacToe </div>
            <button id="board"></button>
            <button id="resetbutton">Reset Game</button>
            <div id="scoreboard">
                <div class="playerscore">X</div>
                <div class="playerscore" id="xscore">0</div>
                <div class="playerscore">O</div>
                <div class="playerscore" id="oscore">0</div>
                <div class="playerscore">Cat</div>
                <div class="playerscore" id="catscore">0</div>
            </div>
        </div>
        <div id="game">
            <div id="mazeboard">
            </div>

        </div>
    </div>
    <script src="index.js"></script>
    <script src="ticktacktoe.js"></script>
    <script src="maze.js"></script>